.tabcontent {
    display: none;
}

.tablinks {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px 20px;
}

    .tablinks:hover {
        background-color: #ddd;
    }

.tabcontent {
    padding: 20px;
}

.active {
    display: block;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #b89531; /* Cambia al color deseado */
}

/* Color del texto de la pestaña activa */
.nav-tabs .nav-item .nav-link.active {
    color: #fff; /* Cambia al color deseado */
}
