@model A_AAsesoresWeb.Entities.EmployeeEnt
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}
<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page">

    <div class="card">
        <div class="card-body">
            <!-- Logo container-->
            <div>
                <!-- Eliminada la clase logo -->
                <!-- Image Logo for large screens -->
                <a href="@Url.Action("Index", "Dashboard")" class="logo d-none d-md-block">
                    <!-- Oculta el enlace en pantallas extra pequeñas y medianas -->
                    <img src="~/assets/images/logo.png" alt="" height="45" class="logo-large">
                    <img src="~/assets/images/A&A Asesores.png" alt="" height="30" class="logo-small"> <!-- Corregido: Cambiado a logo-small para pantallas pequeñas -->
                </a>
                <!-- Image Logo for small screens -->
                <a href="@Url.Action("Index", "Dashboard")" class="logo d-block d-md-none">
                    <!-- Se muestra en pantallas pequeñas (576px - 620px) y se oculta en pantallas más grandes -->
                    <img src="~/assets/images/logo.png" alt="" height="50" class="logo-small">
                </a>
            </div>
            <!-- End Logo container-->
            </h3>

            <div class="p-3">
                @using (Html.BeginForm("ForgetPassword", "Employee", FormMethod.Post, new { id = "employeeForm", data_parsley_validate = "true" }))
                {
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Número de identificación <i class="fa fa-info-circle fa-1x" data-toggle="tooltip" data-placement="top" title="Ingresa el número de identificación del empleado. Utiliza el formato XX-XXXX-XXXX."></i> </label>
                            @Html.TextBoxFor(m => m.Identification, new { @class = "form-control", @type = "text", @placeholder = "00-0000-0000", @style = "font-size:14px;", @data_parsley_required = "true", @data_parsley_error_message = "Por favor, ingrese el número de identificación." })

                        </div>
                    </div>

                    <div class="form-group text-center row m-t-20">
                        <div class="col-12">
                            <input type="submit" class="btn btn-primary waves-light" value="Recuperar Contraseña">
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

@section scripts {
    <!-- App js -->
    <script src="~/Utilities/LoginForm-Validation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/assets/js/app.js"></script>

    <script>

            // Máscara para el campo de identificación
            $('#Identification').mask('00-0000-0000-0000');
            
            // Validación del formulario con Parsley
            $('#employeeForm').parsley();

            // Envío del formulario a través de AJAX
            $('#employeeForm').submit(function (event) {
                event.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: formData,
                    processData: false, // No procesar los datos
                    contentType: false,
                    success: function (response) {
                        var responseParts = response.message.split("|");
                        if (response.success) {
                            Swal.fire({
                                title: 'Éxito',
                                text: responseParts[0],
                                icon: responseParts[1],
                                confirmButtonText: 'Aceptar',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '@Url.Action("LoginEmployee", "Employee")';
                                }
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: responseParts[0],
                                icon: responseParts[1],
                                confirmButtonText: 'Aceptar',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            title: 'Error',
                            text: 'Error al agregar la pregunta.',
                            icon: 'error',
                            confirmButtonText: 'Aceptar',
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        });
                    }
                });
            });
    </script>
}
